python-dateutil==2.8.1
elasticsearch==7.10.1
pydantic
google.cloud.monitoring==2.2.1
google.cloud.logging==2.2.0
matplotlib==3.6.1
matplotlib-inline==0.1.6
ipykernel==6.6.0
seldon-core
Flask==1.1.1
Jinja2==3.0.3
itsdangerous==2.0.1
Werkzeug==2.0.2
pandas==1.2.1
timm==0.5.4
pillow
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
onnx==1.12.0
onnxruntime==1.11.1
tritonclient==2.22.4
pandas>=1.1.4
seaborn>=0.11.0
click==8.0.4
opencv-python==4.6.0.66
prometheus-api-client==0.5.1
geventhttpclient==2.0
transformers==4.21.1
# mlserver==1.1.0
# mlserver-huggingface==1.2.0.dev6
opencv-python==4.6.0.66
plotly==5.11.0
kubernetes==24.2.0
soundfile==0.11.0