python-dateutil==2.8.1
elasticsearch==7.10.1
pydantic
google.cloud.monitoring==2.2.1
google.cloud.logging==2.2.0
kubernetes==11.0.0
matplotlib==3.2.0
ipykernel==6.6.0
transformers[torch]
seldon-core
Flask==1.1.1
Jinja2==3.0.3
itsdangerous==2.0.1
Werkzeug==2.0.2
numpy==1.19.5
pandas==1.2.1
timm==0.5.4
pillow
torch
torchvision